<!DOCTYPE html>
<html>
<%# header.ejsの読み込み%>
  <%- include('header') -%>

    <main>
      新しいTo Doリストを作成する
      <%# ToDo入力フォームを作成する%>
        <form id='listForm'>
          <p>
            <input id='listText' type='text' name='todolist' placeholder='リスト名を入力してください' />
            <!-- <p>
            <label for='limit'>期限</label>
            <input id='limit' type='date' name='limit' />
          </p> -->
            <input class='makeTodo' type='submit' value='リストの作成' />
          </p>
        </form>
        <%# ToDo一覧を表示する%>
          <list class='list'></list>
          <%# jQueryとtodo.jsを読み込む%>
            <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
            <script src='javascripts/todoList.js'></script>
    </main>

</html>