body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  box-sizing: border-box;
  width: 100%;
  background: rgb(255, 22, 81);
  color: white;
  margin: 0px;
  padding: 20px;
  font-size: 3em;
  font-weight: bold;
}

.header_title {
  color: white;
  text-decoration: none;
}
.header_right {
  text-align: right;
}

main {
  padding: 50px;
}

a {
  color: #00B7FF;
}

input {
  font-size: 1.5em;
}

ul {
  padding: 1.5em;
}

li {
  font-size: 1em;
  background: #c2c2c2;
  margin-bottom: 10px;
  padding: 0.5em;
  list-style-type: none!important;
}
